# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vjztpwwlwxdzckgpztji.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# NextAuth
NEXTAUTH_URL=https://replix.se
NEXTAUTH_SECRET=your_nextauth_secret_generate_with_openssl_rand_base64_32

# Google OAuth
GOOGLE_CLIENT_ID=113882078605-09m3cmffon9e9aouoq6ft42um93l9bnc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Anthropic
ANTHROPIC_API_KEY=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

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_live_51THKPOKLBtKklIbmWEgUhq5XzasmVb2vcF83mVhYALw0b1acXoMx3Zt8MyurBwf2aoZClfIcfUTqXI5O4NlikSIy00AL3H7swm
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
